@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  * {
    font-family: 'Roboto Mono', monospace;
  }
  /* text */
  .text-transform {
    @apply transition-all duration-1000;
  }
  /* navlink */

  .nav-link {
    @apply transition-all duration-500;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
  }
  .nav-link.active {
    color: white;
    text-decoration: underline white;
  }
  .nav-link:hover {
    color: white;
  }
  html.dark .nav-link  {
    color: white !important;
  }
  html.dark .nav-link:hover {
    color: #ff8d00d1 !important;
  }
  html.dark .nav-link.active:hover {
    color: white !important;
  }
  /* buttons */
  button {
    @apply transition-all duration-300 rounded-xl justify-center py-2 px-4 border-2 dark:bg-blue-dark dark:text-white font-bold bg-blue-light text-black hover:shadow-inner transform hover:scale-105 hover:bg-opacity-25;
  }
}
